/* green: "#11A822",
   orange: "#F07E0E",
   blue: "#0369B0", 
   dark red: "#c40903" */

$old-primary: #fff;
$old-secondary: #333;
$old-accent: #eb2344;

$primary-color: #0369B0; /*#F07E0E;*/
$secondary-color: #F07E0E; /* #0369B0; */
$accent-color: #11A822;

$header-background: #fff;
$header-nav-background: rgba(0, 0, 0, 0.0);
$header-nav-active: rgba(0, 0, 0, 0.0);
$header-nav-hover: rgba(0, 0, 0, 0.2);
$header-nav-underline: $secondary-color;
$header-font-weight: 900;


$background-color: #f5f5f5;
$content-background-color: #fff;
$base-text-color: #4b505a;

$link-color: $accent-color;
$nav-color: $primary-color;

$header-text-color: $primary-color;
$header-underline-color: $secondary-color;

$footer-background-color: #333;
$footer-text-color: $secondary-color;
$footer-link-color: $secondary-color;